html,body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
#console{
	position:fixed;
	right:0;
	top:0;
	width:300px;
	background:#333;
	color:#fff;
}
	#console div{
		padding:5px 8px;
		border-bottom:1px solid #666;
	}
#playground{
	overflow:hidden;
	*zoom:1; /* ie */
	padding:10px 320px 10px 10px;
}

/* decochecker sample */

.ui-decochecker{
	height:20px;
	line-height:20px;
	margin:0 10px 10px 0;
	float:left;
}
	.ui-decochecker label{
		float:left;
		cursor:pointer;
	}
		.ui-decochecker label span{
			float:left;
			white-space:nowrap;
			padding:10px 12px;
			background:#caa;
			color:#fff;
		}
		.ui-decochecker label input{
			display:none;
		}
		/* ie less than 9 can't handle display noned input */
		.browser-ielt9 .ui-decochecker label input{
			display:inline;
			width:0;
			height:0;
		}
	.ui-decochecker-state-checked label span{
		background:#a00;
	}
	.ui-decochecker-state-disabled label{
		cursor:default;
	}
	.ui-decochecker-state-disabled label span{
		opacity:.5;
	}

/* decoradio sample */

.ui-decoradio{
	height:20px;
	line-height:20px;
	margin:0 10px 10px 0;
	float:left;
}
	.ui-decoradio label{
		float:left;
		cursor:pointer;
	}
		.ui-decoradio label span{
			float:left;
			white-space:nowrap;
			padding:10px 12px;
			background:#caa;
			color:#fff;
		}
		.ui-decoradio label input{
			display:none;
		}
		/* ie less than 9 can't handle display noned input */
		.browser-ielt9 .ui-decoradio label input{
			display:none;
		}
.ui-decoradio-state-checked label span{
	background:#a00;
}

/* styles for demo */

h2{
	padding:20px 0 0;
}

#example1{
	overflow:hidden;
	*zoom:1; /* ie */
	padding:0 0 20px;
}
#example2{
}
	#example2 .allcheckers{
		padding:0 0 20px;
		overflow:hidden;
		*zoom:1; /* ie */
	}
	#example2 .group{
		border:4px solid #caa;
		overflow:hidden;
		*zoom:1; /* ie */
		padding:10px 10px 20px;
		margin:0 0 10px;
		clear:both;
	}
#example3{
}
	#example3 .group{
		border:4px solid #caa;
		overflow:hidden;
		*zoom:1; /* ie */
		padding:10px 10px 20px;
		margin:0 0 10px;
		clear:both;
	}
#example4{
}
	#example4 .group{
		border:4px solid #caa;
		overflow:hidden;
		*zoom:1; /* ie */
		padding:10px 10px 20px;
		margin:0 0 10px;
		clear:both;
	}
